*/.git
auto-save-list/*
.emacs-places
.emacs.desktop
ac-comphist.dat
bookmarks
history
ido.last
places
projectile.cache
recentf
.emacs.desktop.lock
eshell/*
url/*
tramp
backups/*
.smex-items
semanticdb/*
elpa/*
server
.DS_Store
.last-package-update-day
.mc-lists.el
.org-id-locations
eww-bookmarks
smex-items