[user]
	name = hyphen
	email = lhfcjhyy@gmail.com
[push]
	default = upstream
[core]
	editor = ~/.emacs.d/extra-bin/git-script/emacs.sh
[diff]
    tool = p4merge
[difftool "p4merge"]
    cmd = "p4merge.exe $LOCAL $REMOTE"
[difftool "emacs"]
    cmd = ~/.emacs.d/extra-bin/git-script/ediff.sh $LOCAL $REMOTE
[merge]
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge.exe /\"$BASE/\" /\"$LOCAL/\" /\"$REMOTE/\" /\"$MERGED/\"

